nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
    position: fixed;
    width: 100%;
    z-index: 1000;

    font-family: var(--font-heading);
    background-color: var(--secondary);
}

.me-icon {
    height: 50px;
}

.links-container {
    flex-grow: 1;
    text-align: center;
}
.links-container ul {
    color: #1a202d;
}
.links-style {
    color: #1a202d;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}
.links-style:hover{
    transform: scale(1.1);
}

.buttons-container-nav {
    display: flex;
    gap: 20px;
}