.container-education{
    align-items: center;
    text-align: center;
    scroll-margin-top: 70px;
}

.title-education{
    font-size: 48px;
    font-weight: bold;
    padding: 10px;
    background-color: var(--primary);
}
.educations-container{
    margin: 40px auto;
}
.education-container-1{
    font-size: 20px;
    width: 70%;
    margin: auto;
    border: 2px solid var(--accent);
    border-radius: 8px;
    margin-bottom: 30px;
    background-color: var(--background-secondary);
    box-shadow: 0px 4px 10px -3px var(--accent);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.education-container-1:hover{
    transform: translateY(-2px);
    
    box-shadow: 0px 8px 20px -2px var(--accent);
}
.education-container-2{
    font-size: 20px;
    width: 70%;
    margin: auto;
    border: 2px solid var(--accent);
    border-radius: 8px;
    background-color: var(--background-secondary);
    box-shadow: 0px 4px 10px -3px var(--accent);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.education-container-2:hover{
    transform: translateY(-2px);
    
    box-shadow: 0px 8px 20px -2px var(--accent);
}
.education-title{
    padding: 20px;
}
.education-company{
    padding: 20px;
}
.education-description{
    padding: 20px;
    text-align: justify;
}