.container-proyect{
    align-items: center;
    padding: 40px 0;
    text-align: center;
}
.title-proyect{
    font-size: 48px;
    font-weight: bold;
    padding: 10px;
    background-color: var(--primary);
    margin-bottom: 40px;
    display: block;
    width: 100%;
}

.proyects-container{
    display: flex;
    justify-content: space-around;
}
.proyect-1-container{
    font-size: 20px;
    margin-bottom: 30px;
    border: 2px solid var(--accent);
    border-radius: 8px;
    width: 70%;
    background-color: var(--background-secondary);
}
.proyect-name{
    padding: 20px;
}
.proyect-description{
    padding: 20px;
    text-align: justify;
}
.proyect-list-technologies{
    padding: 20px;
}
.proyect-code-information{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.proyect-list-technologies{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.proyect-source button{
    color: var(--text);
}