.language-selector-container {
    position: relative;
}

.language-button{
    padding: 8px 12px;
    transition: transform 0.3s ease-in-out;
}
.language-button:hover{
    transform: scale(1.35);
}

.translate-icon {
    width: 20px;
}

.dropdown-menu {
    position: absolute;
    top: calc(100% + 8px);
    right: 0;
    min-width: 140px;
    background-color: var(--background-primary);
    border: 1px solid var(--accent);
    border-radius: 8px;
}

.dropdown-item {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    text-align: justify;
    color: var(--text); 
}

.dropdown-item:hover {
    background-color: var(--accent);
}
