:root {
    --text: #1a202d;
    --background-primary: #ffffff;
    --background-secondary: #edeff0;
    --primary: #667fea;
    --secondary: #8a18c3;
    --accent: #5568d3;


    /* Fuentes */
    --font-heading: 'Space Grotesk', sans-serif;
    --font-body: 'Inter', sans-serif;
    --font-code: 'JetBrains Mono', monospace;
}

/* TEMA OSCURO */
body.dark {
    --text: #d2d8e5;
    --background-primary: #0f1419;
    --background-secondary: #1a1f2e;
    --background: #030607;
    --primary: #152d99;
    --secondary: #ae3ce7;
    --accent: #2c3faa;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-body);
    color: var(--text);
    
    background: var(--background-primary);
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
ul li {
    display: inline-block;
    padding: 0 20px;
}