/*Modo claro*/
:root {
    --text: #1a202d;
    --background-primary: #ffffff;
    --background-secondary: #F5F5F5;
    --primary: #667fea;
    --secondary: #7a6eea;
    --accent: #5568d3;

    --font-heading: 'Space Grotesk', sans-serif;
    --font-body: 'Inter', sans-serif;
}

/*Modo oscuro*/
body.dark {
    --text: #d2d8e5;
    --background-primary: #0f1419;
    --background-secondary: #1a1f2e;
    --background: #030607;
    --primary: #152d99;
    --secondary: #5041b8;
    --accent: #2c3faa;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-body);
    color: var(--text);
    
    background: var(--background-primary);
}

main {
    position: relative;
    z-index: 1;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
ul li {
    display: inline-block;
    padding: 0 20px;
}