.container-technologies{
    align-items: center;
    text-align: center;
    scroll-margin-top: 70px;
}
.title-technologies{
    font-size: 48px;
    font-weight: bold;
    padding: 10px;
    background-color: var(--primary);
}
.list-technologies{
    margin: 40px auto;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.list-technologies-items{
    display: flex;
    align-items: center;
    gap: 6px;
    transition: transform 0.3s ease-in-out;
}
.list-technologies-items:hover{
    transform: translateY(-2px);
}

@media (max-width: 768px) {
    .title-technologies {
        font-size: 36px;
    }

    .list-technologies {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
}